<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586672149984-l3ingai7dpu30ekrdaakr70jmqffsaf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586672149984-l3ingai7dpu30ekrdaakr70jmqffsaf5</string>
	<key>API_KEY</key>
	<string>AIzaSyBWvohtAqqOsocybUmIoUqKnBxwYxDhYNg</string>
	<key>GCM_SENDER_ID</key>
	<string>586672149984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shamba</string>
	<key>PROJECT_ID</key>
	<string>shamba-langu-apk</string>
	<key>STORAGE_BUCKET</key>
	<string>shamba-langu-apk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586672149984:ios:56ca76ef7b157df84e4785</string>
</dict>
</plist>